/* CSS für das zentrierte Layout */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.centered {
  margin-bottom: 10px;
}

.largerInput {
  width: 400px;
  margin-bottom: 10px;
  font-size: 18px;
}

.blueButton {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 18px;
}

/* Styling für die Alerts */
.alert {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.success {
  background-color: lightgreen;
}

.error {
  background-color: red;
}

/* Styling für den Footer-Link */
.footer {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: #888;
}

