body {
  font-family: Arial, sans-serif;
  font-size: 18px; /* Allgemeine Schriftgröße erhöhen */
}

h1 {
  text-align: center;
}

.largerInput {
  width: 400px; /* Eingabefeld vergrößern */
  margin-bottom: 10px;
  font-size: 18px; /* Schriftgröße der Eingabe erhöhen */
}

.blueButton {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}
